* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
#root {
  margin: 0 auto;
}
.custom-drop-shadow {
  -webkit-box-shadow: 0px 52px 41px -46px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 52px 41px -46px rgba(0,0,0,0.25);
  box-shadow: 0px 52px 41px -46px rgba(0,0,0,0.25);
}